* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.contenitore {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: tan;
}

#risultato {
    text-align: center;
    font-size: 150px;
}